body {
  font-family: 'Droid Sans', sans-serif;
}
#content {
  padding-top:60px;
}
header h1 a{color:#fff}
header h1 a:hover{color:#f4f4f4;text-decoration:none}

.ws-picker-header select{height:auto;line-height:auto;width:auto}
